body {
    background-color: #efefef;
}
.navbar {
    height: 48px;
    line-height: 48px;
}
#wrapper {
    width: 100%;
}
.sidebar {
    position: absolute;
    left: 0px;
    width: 20%;
    background: #c0c0c0;
}
#page-wrapper {
    margin: 0 0 0 20%;
    background: #efefef;
}
.page-title {
    font-size: 16px;
    font-family: Arial;
    padding: 4px 4px 4px 0;
    color: #000000;
}
.container {
    margin-left: 4px;
}
.navbar-default a {
    color: #111111;
    text-decoration: none;
}
.navbar-default ul {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Arial;
    list-style: none;
}
.navbar-default ul li {
    border: 0px solid #aaaaaa;
    background: #ffffff;
    padding: 5px 5px 5px 20px;
}
.navbar-default ul li:hover {
    background: #E7EBFF;
}
.li-wrapper {
    padding: 1px;
}
.lt-ie8 .li-wrapper {
    display: inline-block;
}
.li-wrapper:hover {
    font-weight: bold;
    cursor: pointer;
    background: #2a9fcd;
}
.child {
    margin-top: -1px;
}
hr {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #000000;
}
.modal {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('../imgs/ajax-loader.gif') 50% 50% no-repeat;
}
.lt-ie8 .modal,
.lt-ie9 .modal {
    filter: alpha(opacity=80);
    background: #ffffff url('../imgs/ajax-loader.gif') 50% 50% no-repeat;
}
body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.hide {
    display: none;
}
@media screen and (max-width: 640px) {
    .sidebar {
        position: relative;
        width: 100%;
    }
    #page-wrapper {
        margin: 0px auto;
    }
}