<link rel="stylesheet" href="./css/todayWeatherStyle.css" type="text/css" />
<script type="text/javascript" src="js/todayWeatherController.js"></script>
<div id="tw-wrapper" class="container">
    <div class="page-title" role="title">Today's Weather
        <hr>
    </div>
    <div>
        <div id="error-msg" class="hide"></div>
        <form id="todayWeather">
            <div class="form-group">
                <label for="cityInput">City:</label>
                <input type="text" name="city" value="taipei" />

            </div>
            <div class="form-group">
                <label for="countryInput">Country:</label>
                <input type="text" name="country" value="tw" />
            </div>
            <div class="form-group">
                <button type="button">Submit</button>
            </div>
        </form>
    </div>
    <div class="media-wrpper hide">
        

        <div class="media">
            <span id="weather-icon"></span>
            <div class="media-body">
                <div id="weather-type">
                    weather-main
                </div>
                <div id="weather-desp">
                    weather-desp
                </div>
            </div>
        </div>
        <div>
            <div>
                Temperature:
                <span id="weathe-msg-temperature"></span>
            </div>
            <div>
                Humidity:
                <span id="weathe-msg-humidity"></span>
            </div>
        </div>

    </div>


</div>

<script>
    todayWeatherController.init();
</script>
